@import "style";
#section-find-job {
  padding-top: 88px;
  .col-md-6:first-child {
    padding: 0;
  }
  #section-staff {
    background: $primary-color;
    height: 91vh;
    .slick-initialized .slick-slide {
      margin: 40px;
      opacity: 0.5;
    }
    .slick-slide {
      width: 400px;
    }
    .slick-list {
      overflow: hidden;
    }
    .slick-initialized .slick-current {
      transform: scale(1.2);
      opacity: 1;
    }
    .slick-prev {
      left: 150px !important;
      z-index: 1;
    }
    .slick-next {
      right: 150px !important;
      z-index: 1;
    }
    .slick-prev:before {
      content: "←";
    }
    .slick-next:before,
    .slick-prev:before {
      font-family: slick;
      font-size: 36px;
      line-height: 1;
      opacity: 1;
      color: #ffca00;
      -webkit-font-smoothing: antialiased;
    }
    .title-section {
      padding-top: 8%;
      text-align: center;
      background: $primary-color;
      h3 {
        color: white;
        padding-bottom: 16px;
      }
    }
    .item-slider {
      background: white;
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
      padding: 24px 24px 16px 24px;
      border-radius: 10px;
      color: $font-color;
      .head {
        display: flex;
        padding-bottom: 32px;
        .user {
          display: flex;
          img {
            width: 10%;
            align-self: baseline;
          }
          .user-inf {
            p {
              color: #aab1b9;
              font-size: 15px;
              margin: 4px 16px;
              &:first-child {
                color: $primary-color;
                font-size: 17px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  .logo-group {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    img {
      width: 10%;
      align-self: center;
    }
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .login {
    position: absolute;
    bottom: 0;
    width: 96%;
    text-align: center;
    p {
      color: $font-color;
      margin-top: 32px;
      padding-bottom: 16px;
      a {
        color: $second-color;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

#regForm {
  margin: 8% auto;
  padding: 0 23%;
  width: 100%;
  min-width: 300px;
  #alert-message {
    font-size: 14px;
    color: red;
    display: none;
  }
  .submit-btn {
    background: $second-color;
    border-radius: 6px;
    width: 100%;
    color: white;
  }
  h1 {
    text-align: center;
  }

  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: $second-color;
  }

  /* Hide all steps by default: */
  .tab {
    .rules-label {
      span {
        color: $font-color;
        font-family: "Montserrat", sans-serif;
        font-weight: unset;
      }
      a {
        color: $second-color;
        font-family: "Montserrat", sans-serif;
        text-decoration: underline;
      }
    }
    display: none;
    span {
      color: $second-color;
      font-weight: 500;
      font-family: "Helvetica Neue", sans-serif;
    }
    h3 {
      color: $primary-color;
      padding-bottom: 16px;
    }
    .my-select {
      background-color: white;
      border: 0 none;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
      margin-bottom: 32px;
      width: 50%;
      padding: 6px 20px;
    }
    .custom-control {
      width: 100%;
      overflow: hidden;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      border-color: #a9a8aa;
      background-color: white;
    }
    .custom-control-label::after {
      content: "";
      background: no-repeat 50%;
    }
    .custom-checkbox .custom-control-label::before {
      border-radius: 50%;
    }
    .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23EEBA00'/></svg>");
      border: 1px solid #ffca00;
      border-radius: 50%;
    }
    .dt-group {
      margin-bottom: 16px;
      input {
        background: white;
      }
      #datepicker {
        input {
          margin: 0;
          background: white;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
          border-radius: 6px;
          border: none;
          padding: 23px 16px;
          width: 100%;
          outline: none;
        }
        span {
          position: absolute;
          right: 28px;
          top: 10px;
          color: $primary-color;
        }
      }
    }
    .time {
      padding-left: 0;
      .my-time-picker {
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        input,
        span {
          box-shadow: none;
          color: $font-color;
        }
        input {
          padding: 10px 0 10px 10px;
          max-width: 93px;
        }
        i {
          color: $primary-color;
        }
      }
    }
  }

  button {
    border: none;
    padding: 10px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin: 16px 0;
    background: #f7f5f9;
    color: $font-color;
    border-radius: 50px;
  }
  button:hover {
    opacity: 0.8;
  }
  #nextBtn {
    padding-left: 14px;
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105";
      color: white;
      background: $second-color;
      padding: 8px 12.5px;
      margin-left: 10px;
      border-radius: 50px;
    }
  }
  #prevBtn {
    padding-right: 14px;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f104";
      background: $second-color;
      color: white;
      padding: 8px 12.5px;
      margin-right: 10px;
      border-radius: 50px;
    }
  }
  .step-group {
    display: flex;
    justify-content: space-between;
    .line:not(:last-child):before {
      content: "";
      position: absolute;
      top: 25%;
      height: 2px;
      left: 0;
      width: 100%;
      z-index: 0;
      background-color: $primary-color;
    }
    .step {
      span {
        border: none;
        border-radius: 50px;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-bottom: 40px;
        background: $primary-color;
        text-align: center;
        font-weight: bold;
        line-height: 2.6em;
        color: white;
        cursor: default;
        transition: 0.3s;
        position: relative;
        z-index: 1;
      }
      &.active span {
        background: $second-color;
        opacity: 1;
      }
      &.active:before {
        background-color: $second-color;
      }
      &.finish {
        span {
          background-color: $second-color;
        }
      }
      &.finish:before {
        background-color: $second-color;
      }
    }
  }
}

@media only screen and (max-width: 812px) {
  #section-find-job {
    .col-md-6:first-child {
      padding: 15px;
    }
    #section-staff {
      background: #653593;
      height: auto;
      .slick-slide {
        width: 350px;
        margin: 30px !important;
      }
      .slick-initialized .slick-current {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  #regForm {
    margin: 8% auto;
    padding: 15px 15px 48px !important;
    width: 100%;
    min-width: 300px;
    .tab .time {
      padding-left: 15px !important;
      .my-time-picker {
        input {
          background: none;
          padding: 10px 0 10px 10px;
          max-width: 160px;
        }
        i {
          position: absolute;
          right: 24px;
          top: 35%;
        }
      }
    }
  }
  .custom-checkbox {
    display: block !important;
  }
  .tab .dt-group {
    #datepicker {
      input {
        margin: 0 !important;
      }
      span {
        right: 12px !important;
      }
    }
  }
}

@media only screen and (min-width: 813px) and (max-width: 1024px) {
  #regForm {
    margin: 8% auto;
    padding: 15px;
    width: 100%;
    .tab .time .my-time-picker {
      margin-top: 16px;
      input {
        background: none !important;
      }
    }
  }
  .custom-checkbox {
    display: block !important;
  }
  .tab {
    .dt-group {
      .time {
        padding-left: 15px !important;
      }
      #datepicker {
        margin: 16px 0;
        input {
          margin: 0 !important;
        }
        span {
          right: 12px !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 1440px) {
  #regForm {
    padding: 0 14%;
  }
}
