.primary-btn {
  color: #eeba00;
  border: 2px solid #eeba00;
  border-radius: 6px;
  padding: 4px 24px;
  margin: 0 8px;
}
.primary-btn:hover {
  color: #eeba00;
  opacity: 0.7;
  transition: 0.4s;
}

.second-btn {
  color: white;
  border: 2px solid #eeba00;
  border-radius: 6px;
  background: #eeba00;
  padding: 4px 24px;
  margin: 0 8px;
}
.second-btn:hover {
  color: white;
  opacity: 0.7;
  transition: 0.4s;
}

button:focus {
  outline: none;
}

input {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border: none;
  padding: 8px 16px;
  width: 100%;
  outline: none;
  border: none !important;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
img {
  width: 100%;
  height: auto;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: #eeba00;
  transition: 0.2s;
}

p {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue";
}

header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
header .navbar {
  padding: 24px 0;
  position: absolute;
  width: 100%;
  background: white;
  z-index: 10;
}
header .navbar .nav-link {
  color: #666666;
  font-weight: 500;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 1023px) {
  header .navbar {
    padding: 16px;
  }
  header .navbar i {
    font-size: 28px;
  }

  .navbar-light .navbar-toggler {
    border: none;
  }
  .navbar-light .navbar-collapse {
    height: 100vh;
    text-align: center;
  }
  .navbar-light .navbar-collapse form {
    display: flex;
    justify-content: center;
  }
}
footer {
  background: #653593;
  padding: 40px 0;
}
footer h6 {
  color: white;
  font-size: 15px;
}
footer a {
  font-size: 15px;
  color: #e5e5e5;
}
footer a i {
  font-size: 20px;
}
footer p {
  font-size: 12px;
  color: #d0c9d6;
  margin: 8px 0;
}

.fixed-header {
  z-index: 7;
}

.title-section {
  text-align: center;
  color: #653593;
}
.title-section p {
  color: #666666;
  padding: 8px 0;
}

#section-head {
  padding: 8% 0;
  background: #e6daf0;
}
#section-head h1 {
  color: #653593;
  font-weight: bold;
  margin-top: 32%;
  margin-bottom: 32px;
}
#section-head p {
  color: #666666;
}
#section-head a {
  margin: 12px 0;
  display: inline-block;
  padding: 8px 24px;
}

#section-feedback {
  padding: 6% 0 12% 0;
  color: #666666;
}
#section-feedback .title-section {
  margin-bottom: 6%;
}
#section-feedback i {
  line-height: 1.8em;
}
#section-feedback .feedback-group {
  position: relative;
  width: 90%;
  padding: 0 32px;
}
#section-feedback .feedback-group .user-group {
  padding: 32px 0;
  bottom: -110%;
  position: absolute;
}
#section-feedback .feedback-group .user-group img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#section-feedback .feedback-group .user-group span {
  color: #653593;
  font-weight: 500;
  padding: 0 4px;
}

#section-advertise {
  padding: 8% 0;
  background: url("../img/bg-2-01.png") no-repeat;
  background-size: cover;
  color: #f7f5f9;
}
#section-advertise h3 {
  color: white;
  padding-bottom: 16px;
}
#section-advertise p {
  line-height: 1.8em;
}
#section-advertise a {
  margin: 32px 0;
  display: inline-block;
  padding: 8px 24px;
}
#section-advertise .browser .head {
  background: #ececec;
  border: 1px solid #cecece;
  border-radius: 7px 7px 0px 0px;
  padding: 4px 8px;
}
#section-advertise .browser .video video {
  border-radius: 0 0 8px 8px;
  border: 1px;
}
#section-advertise .browser .video video:focus {
  outline: none;
}
#section-advertise .ad-group img {
  width: 24%;
  margin: 24% 0 16px 0;
}
#section-advertise .ad-group .title {
  color: #eeba00;
  font-weight: bold;
}

#section-last {
  position: relative;
  overflow: hidden;
}
#section-last svg {
  position: absolute;
  z-index: 1;
}
#section-last svg:last-child {
  bottom: -1px;
  right: 0;
}
#section-last .container {
  z-index: 2;
  position: relative;
  padding: 4% 0;
}
#section-last .title-section {
  padding: 6% 0;
  text-align: center;
}
#section-last .title-section p {
  color: #666666;
  line-height: 1.5em;
}
#section-last .title-section h2 {
  color: #653593;
  padding-bottom: 16px;
}
#section-last .mockup {
  width: 70%;
  align-self: baseline;
}
#section-last .activate-group {
  display: flex;
  padding-bottom: 24px;
}
#section-last .activate-group:not(:last-child):before {
  content: "";
  position: absolute;
  top: 0;
  left: 34px;
  width: 2px;
  height: 65%;
  z-index: 0;
  background-color: #987daf;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#section-last .activate-group img {
  width: 25%;
  align-self: baseline;
}
#section-last .activate-group .step {
  z-index: 1;
}
#section-last .activate-group .step p {
  border: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: -9px;
  background: #987daf;
  color: white;
  font-weight: bold;
  line-height: 2.5em;
}
#section-last .activate-group .inf {
  padding: 0 24px;
}
#section-last .activate-group .inf .inf-title {
  color: #eeba00;
  font-weight: bold;
}
#section-last .activate-group .inf .btn-group {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
#section-last .activate-group .inf .btn-group a {
  display: inline-block;
}
#section-last .activate-group .inf .btn-group span {
  margin: 0 16px;
}
#section-last .activate-group .inf .btn-group .second-btn {
  padding: 7px 24px;
}

#uniger {
  background: #fbeebf;
}
#uniger img {
  vertical-align: middle;
}
#uniger .group {
  color: #666666;
  width: 70%;
}
#uniger .group p {
  color: #653593;
  font-weight: bold;
  margin: 0;
}
#uniger .group p:nth-child(2) {
  color: #a9a8aa;
  font-weight: unset;
  margin-bottom: 40px;
}

#section-sign-up {
  padding-bottom: 6%;
  background: #e6daf0;
}
#section-sign-up .title-section {
  padding: 6% 0;
  text-align: center;
}
#section-sign-up .title-section p {
  color: #666666;
  line-height: 1.5em;
}
#section-sign-up .title-section h2 {
  color: #653593;
  padding-bottom: 16px;
}
#section-sign-up .form-row {
  width: 80%;
  margin: 0 auto;
}
#section-sign-up button {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 7px 0;
}

@media only screen and (max-width: 1024px) {
  #section-last .activate-group {
    padding: 0 15px;
  }

  #section-last .activate-group:not(:last-child):before {
    left: 48px;
  }

  #section-last .mockup {
    padding-bottom: 24px;
  }

  #section-head {
    width: 100vw;
    min-height: 700px;
    height: 100vh;
  }
  #section-head h1 {
    margin-top: 45%;
  }

  #section-feedback .title-section {
    margin-bottom: 12%;
    margin-top: 12%;
  }
  #section-feedback .feedback-group {
    width: 100%;
    padding: 0 15px;
  }
  #section-feedback .feedback-group .user-group {
    padding: 8px 0 48px 0;
  }
  #section-feedback .user-group {
    position: static !important;
  }

  #section-advertise .row:last-child {
    padding: 40px 0;
  }
  #section-advertise .ad-group {
    text-align: center;
  }
  #section-advertise .ad-group img {
    width: 24%;
    margin: 16px 0;
  }

  #uniger .group {
    color: #666666;
    padding: 40px 0;
  }

  #section-sign-up .form-row {
    width: 90%;
  }
  #section-sign-up .form-row input {
    margin-bottom: 16px;
  }

  #section-sign-up button,
#section-sign-up input {
    width: 100%;
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=find-job.css.map */
