@charset "UTF-8";
.primary-btn {
  color: #eeba00;
  border: 2px solid #eeba00;
  border-radius: 6px;
  padding: 4px 24px;
  margin: 0 8px;
}
.primary-btn:hover {
  color: #eeba00;
  opacity: 0.7;
  transition: 0.4s;
}

.second-btn {
  color: white;
  border: 2px solid #eeba00;
  border-radius: 6px;
  background: #eeba00;
  padding: 4px 24px;
  margin: 0 8px;
}
.second-btn:hover {
  color: white;
  opacity: 0.7;
  transition: 0.4s;
}

button:focus {
  outline: none;
}

input {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border: none;
  padding: 8px 16px;
  width: 100%;
  outline: none;
  border: none !important;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
img {
  width: 100%;
  height: auto;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: #eeba00;
  transition: 0.2s;
}

p {
  font-size: 15px;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif;
}

header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
header .navbar {
  padding: 24px 0;
  position: absolute;
  width: 100%;
  background: white;
  z-index: 10;
}
header .navbar .nav-link {
  color: #666666;
  font-weight: 500;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 1023px) {
  header .navbar {
    padding: 16px;
  }
  header .navbar i {
    font-size: 28px;
  }

  .navbar-light .navbar-toggler {
    border: none;
  }
  .navbar-light .navbar-collapse {
    height: 100vh;
    text-align: center;
  }
  .navbar-light .navbar-collapse form {
    display: flex;
    justify-content: center;
  }
}
footer {
  background: #653593;
  padding: 40px 0;
}
footer h6 {
  color: white;
  font-size: 15px;
}
footer a {
  font-size: 15px;
  color: #e5e5e5;
}
footer a i {
  font-size: 20px;
}
footer p {
  font-size: 12px;
  color: #d0c9d6;
  margin: 8px 0;
}

#section-find-job {
  padding-top: 88px;
}
#section-find-job .col-md-6:first-child {
  padding: 0;
}
#section-find-job #section-staff {
  background: #653593;
  height: 91vh;
}
#section-find-job #section-staff .slick-initialized .slick-slide {
  margin: 40px;
  opacity: 0.5;
}
#section-find-job #section-staff .slick-slide {
  width: 400px;
}
#section-find-job #section-staff .slick-list {
  overflow: hidden;
}
#section-find-job #section-staff .slick-initialized .slick-current {
  transform: scale(1.2);
  opacity: 1;
}
#section-find-job #section-staff .slick-prev {
  left: 150px !important;
  z-index: 1;
}
#section-find-job #section-staff .slick-next {
  right: 150px !important;
  z-index: 1;
}
#section-find-job #section-staff .slick-prev:before {
  content: "←";
}
#section-find-job #section-staff .slick-next:before,
#section-find-job #section-staff .slick-prev:before {
  font-family: slick;
  font-size: 36px;
  line-height: 1;
  opacity: 1;
  color: #ffca00;
  -webkit-font-smoothing: antialiased;
}
#section-find-job #section-staff .title-section {
  padding-top: 8%;
  text-align: center;
  background: #653593;
}
#section-find-job #section-staff .title-section h3 {
  color: white;
  padding-bottom: 16px;
}
#section-find-job #section-staff .item-slider {
  background: white;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
  padding: 24px 24px 16px 24px;
  border-radius: 10px;
  color: #666666;
}
#section-find-job #section-staff .item-slider .head {
  display: flex;
  padding-bottom: 32px;
}
#section-find-job #section-staff .item-slider .head .user {
  display: flex;
}
#section-find-job #section-staff .item-slider .head .user img {
  width: 10%;
  align-self: baseline;
}
#section-find-job #section-staff .item-slider .head .user .user-inf p {
  color: #aab1b9;
  font-size: 15px;
  margin: 4px 16px;
}
#section-find-job #section-staff .item-slider .head .user .user-inf p:first-child {
  color: #653593;
  font-size: 17px;
  font-weight: bold;
}
#section-find-job .logo-group {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}
#section-find-job .logo-group img {
  width: 10%;
  align-self: center;
}
#section-find-job .logo-group:last-child {
  margin-bottom: 40px;
}
#section-find-job .login {
  position: absolute;
  bottom: 0;
  width: 96%;
  text-align: center;
}
#section-find-job .login p {
  color: #666666;
  margin-top: 32px;
  padding-bottom: 16px;
}
#section-find-job .login p a {
  color: #eeba00;
  font-weight: bold;
  text-decoration: underline;
}

#regForm {
  margin: 8% auto;
  padding: 0 23%;
  width: 100%;
  min-width: 300px;
  /* Mark input boxes that gets an error on validation: */
  /* Hide all steps by default: */
}
#regForm #alert-message {
  font-size: 14px;
  color: red;
  display: none;
}
#regForm .submit-btn {
  background: #eeba00;
  border-radius: 6px;
  width: 100%;
  color: white;
}
#regForm h1 {
  text-align: center;
}
#regForm input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}
#regForm input.invalid {
  background-color: #eeba00;
}
#regForm .tab {
  display: none;
}
#regForm .tab .rules-label span {
  color: #666666;
  font-family: "Montserrat", sans-serif;
  font-weight: unset;
}
#regForm .tab .rules-label a {
  color: #eeba00;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}
#regForm .tab span {
  color: #eeba00;
  font-weight: 500;
  font-family: "Helvetica Neue", sans-serif;
}
#regForm .tab h3 {
  color: #653593;
  padding-bottom: 16px;
}
#regForm .tab .my-select {
  background-color: white;
  border: 0 none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  margin-bottom: 32px;
  width: 50%;
  padding: 6px 20px;
}
#regForm .tab .custom-control {
  width: 100%;
  overflow: hidden;
}
#regForm .tab .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #a9a8aa;
  background-color: white;
}
#regForm .tab .custom-control-label::after {
  content: "";
  background: no-repeat 50%;
}
#regForm .tab .custom-checkbox .custom-control-label::before {
  border-radius: 50%;
}
#regForm .tab .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23EEBA00'/></svg>");
  border: 1px solid #ffca00;
  border-radius: 50%;
}
#regForm .tab .dt-group {
  margin-bottom: 16px;
}
#regForm .tab .dt-group input {
  background: white;
}
#regForm .tab .dt-group #datepicker input {
  margin: 0;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border: none;
  padding: 23px 16px;
  width: 100%;
  outline: none;
}
#regForm .tab .dt-group #datepicker span {
  position: absolute;
  right: 28px;
  top: 10px;
  color: #653593;
}
#regForm .tab .time {
  padding-left: 0;
}
#regForm .tab .time .my-time-picker {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}
#regForm .tab .time .my-time-picker input,
#regForm .tab .time .my-time-picker span {
  box-shadow: none;
  color: #666666;
}
#regForm .tab .time .my-time-picker input {
  padding: 10px 0 10px 10px;
  max-width: 93px;
}
#regForm .tab .time .my-time-picker i {
  color: #653593;
}
#regForm button {
  border: none;
  padding: 10px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 16px 0;
  background: #f7f5f9;
  color: #666666;
  border-radius: 50px;
}
#regForm button:hover {
  opacity: 0.8;
}
#regForm #nextBtn {
  padding-left: 14px;
}
#regForm #nextBtn::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: white;
  background: #eeba00;
  padding: 8px 12.5px;
  margin-left: 10px;
  border-radius: 50px;
}
#regForm #prevBtn {
  padding-right: 14px;
}
#regForm #prevBtn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  background: #eeba00;
  color: white;
  padding: 8px 12.5px;
  margin-right: 10px;
  border-radius: 50px;
}
#regForm .step-group {
  display: flex;
  justify-content: space-between;
}
#regForm .step-group .line:not(:last-child):before {
  content: "";
  position: absolute;
  top: 25%;
  height: 2px;
  left: 0;
  width: 100%;
  z-index: 0;
  background-color: #653593;
}
#regForm .step-group .step span {
  border: none;
  border-radius: 50px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  background: #653593;
  text-align: center;
  font-weight: bold;
  line-height: 2.6em;
  color: white;
  cursor: default;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
#regForm .step-group .step.active span {
  background: #eeba00;
  opacity: 1;
}
#regForm .step-group .step.active:before {
  background-color: #eeba00;
}
#regForm .step-group .step.finish span {
  background-color: #eeba00;
}
#regForm .step-group .step.finish:before {
  background-color: #eeba00;
}

@media only screen and (max-width: 812px) {
  #section-find-job .col-md-6:first-child {
    padding: 15px;
  }
  #section-find-job #section-staff {
    background: #653593;
    height: auto;
  }
  #section-find-job #section-staff .slick-slide {
    width: 350px;
    margin: 30px !important;
  }
  #section-find-job #section-staff .slick-initialized .slick-current {
    transform: scale(1);
    opacity: 1;
  }

  #regForm {
    margin: 8% auto;
    padding: 15px 15px 48px !important;
    width: 100%;
    min-width: 300px;
  }
  #regForm .tab .time {
    padding-left: 15px !important;
  }
  #regForm .tab .time .my-time-picker input {
    background: none;
    padding: 10px 0 10px 10px;
    max-width: 160px;
  }
  #regForm .tab .time .my-time-picker i {
    position: absolute;
    right: 24px;
    top: 35%;
  }

  .custom-checkbox {
    display: block !important;
  }

  .tab .dt-group #datepicker input {
    margin: 0 !important;
  }
  .tab .dt-group #datepicker span {
    right: 12px !important;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  #regForm {
    margin: 8% auto;
    padding: 15px;
    width: 100%;
  }
  #regForm .tab .time .my-time-picker {
    margin-top: 16px;
  }
  #regForm .tab .time .my-time-picker input {
    background: none !important;
  }

  .custom-checkbox {
    display: block !important;
  }

  .tab .dt-group .time {
    padding-left: 15px !important;
  }
  .tab .dt-group #datepicker {
    margin: 16px 0;
  }
  .tab .dt-group #datepicker input {
    margin: 0 !important;
  }
  .tab .dt-group #datepicker span {
    right: 12px !important;
  }
}
@media only screen and (max-width: 1440px) {
  #regForm {
    padding: 0 14%;
  }
}

/*# sourceMappingURL=find-job2.css.map */
